* {
    box-sizing: border-box;
}
.page {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    
    flex: 1 1 auto;
}

.main {
    max-width: 1400px;
    display: flex;
    flex-flow: column wrap;
    flex: 0 1 auto;
}
.main__inputs {
    display: flex;
    flex-flow: row wrap;
    flex: 1 2 auto;
    margin-bottom: 20px;
    
}
.main__input {
    display: flex;
    max-width: 80vh;
    text-align: center;
    min-height: 10vh;
    flex: 1 1 auto;
    font-size: 1.5rem;
    border: 1px solid rgb(76,175,80);
}
.main__actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.button {
    color: white;
    border: 0;
    font-size: 1rem;
    padding: 10px;
    border-radius: 2px;
    border-bottom: 2px solid rgb(76,175,80);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: rgb(102,187,106);
    box-shadow: inset 0 -2px rgb(76,175,80);
    cursor: pointer;
    margin: 10px;
    width: 150px;
    will-change: background-position;
}

.result {
    border-radius: 2px;
    overflow: hidden;
}

.result__element {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    border: 1px solid rgb(76,175,80);
}

.result__readall {
    border: 1px solid rgba(76,175,80, 0.25);
    color: #333;
}
.actions__transaction_active {
    background: linear-gradient(135deg, rgb(76,175,80) -25%, #8dddea, rgb(76,175,80) 125%);
    animation: TransactionActive 6s ease infinite;
    border: 0;
    box-shadow: none;
    background-size: 200% 200%;
}

@keyframes TransactionActive {
    0% {
        background-position: 0% 48%
    }

    50% {
        background-position: 100% 53%
    }

    100% {
        background-position: 0% 48%
    }
}