@{
    ViewData["Title"] = "Home Page";
}

<main class="main">
    <div class="main__inputs">
        <input placeholder="Key" class="main__input main__input_key" />
        <input placeholder="Value" class="main__input main__input_value" />
    </div>
    <nav class="main__actions actions">
        <button class="actions__create button">Create record</button>
        <button class="actions__getall button">Get all keys</button>
        <button class="actions__get button">Get value</button>
        <button class="actions__delete button">Delete record</button>
        <button class="actions__update button">Update record</button>
        <button class="actions__transaction button">Start transaction</button>
    </nav>    
    <section class="main__result result">
    </section>
</main>
