@{
    ViewData["Title"] = "Home Page";
}

<main class="main">
    <div class="main__inputs">
        <input placeholder="Key" alt="Key" class="main__input main__input_key" />
        <input placeholder="Value" alt="Value" class="main__input main__input_value" />
    </div>
    <nav class="main__actions actions">
        <a class="actions__create button">Create record</a>
        <a class="actions__getall button">Get all keys</a>
        <a class="actions__get button">Get value</a>
        <a class="actions__delete button">Delete record</a>
        <a class="actions__update button">Update record</a>
        <a class="actions__transaction button">Start transaction</a>
    </nav>    
    <section class="main__result result">
    </section>
</main>
